@font-face {
  font-family: Montserrat;
  src: url("/platformfonts/Montserrat-SemiBold.ttf"); }

@font-face {
  font-family: MontserratBold;
  src: url("/platformfonts/Montserrat-Bold.ttf"); }

html {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%; }

input:-webkit-autofill {
  box-shadow: 0ch;
  -webkit-box-shadow: 0 0 0 500px white inset; }

.login {
  position: absolute;
  min-width: 320px;
  max-width: 400px;
  height: auto;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center; }

.login-container {
  padding: 10px 25px 10px 25px; }

.container {
  max-width: 1024px;
  position: absolute;
  left: 20%; }
